.logout-wrapper{
    background:transparent;
    margin-left: 670px;
}
.logout-wrapper input[value="Logout"]{
    width:100px;
    color: orange;
    border:none;
    font-size: 20px;
    font-family: Kannada MN;
    font-weight: bold;
    border-radius: 20px;
    background:rgba(255, 255, 255, 0.158);

}
