.userlist{
    background: rgb(243, 221, 174);
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.userblock{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background: rgb(255, 255, 255);
    width: 60em;
    height: 39em;
    border-radius: 10px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:50px;
    margin-left: 245px;
    position: absolute;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.1);
}

.admin{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(144, 176, 219);
    color: white;
    width: 52.5em;
    border-radius: 10px;
    margin-top: 12px;
    list-style-type: none;
    font-family: Kannada MN;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.1);

}

.edit{
    color: rgb(120, 174, 236);
    background: white;
    border-radius: 10px;
    width: 60px;
    text-align: center;
    font-weight: bold;
    margin-left: 740px;
}

.edit:hover{
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.1);
    color: rgb(113, 131, 236);

}

.delete{
    color:rgb(243, 177, 55);
    margin-top: 10px;
    background: white;
    border-radius: 10px;
    width: 60px;
    text-align: center;
    font-weight: bold;
    margin-left: 740px;
   

}

.delete:hover{
    color:rgb(255, 124, 1);
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.1);
}

.page{
    margin-top: 630px;
    margin-left: 270px;
    position:fixed;
}