.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}
.content {
    display: flex;
    flex-direction: column;
}

.form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    font-family: "Kannada MN";
    font-weight: bold;
    color:#2b2828;
}

label {
    display: flex;
    font-size: 18px;
    opacity: 0.8;
  }

.header {
    font-size: 24px;
    font-family: "Kannada MN";
    font-weight: bolder;
    color:#2b2828;
    opacity: 0.8;
}

.image {
    width: 40em;
}
img {
    width: 85%;
    height: 85%;
}

input {
    margin-top: 6px;
    min-width: 17em;
    height: 37px;
    padding: 0px 20px;
    font-size: 16px;
    font-family: "Kannada MN";
    font-weight: bold;
    color:#2b2828;
    background-color: #f3eded;
    border: 0;
    letter-spacing: 0;
    border-radius: 30px;
    margin-bottom: 31px;
    /* transition: all 250ms ease-in-out */
}

input:hover {
    background-color: #a2b9d8;
    box-shadow: 0px 0px 14px 0.3px #5571ee63;
}
input:focus {
    outline: none;
    background-color: #a2b9d8;
}

.footer {
    margin-top: 1em;
}

input[type = 'submit'] {
    min-width: 3em;
}