@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.userProfile {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Kannada MN;
  background: url("3.jpg");
  position: fixed;
}

.userBlock{
    background: rgb(255, 255, 255, 0.3);
    width: 55em;
    height: 38em;
    border-radius: 5%;
    margin-top: 80px;
    margin-left: 300px;

}

.usercircle {
    background: rgb(255, 255, 255);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin: 0 auto;
    position: absolute;
    margin-top: 200px;
    margin-left: -90px;
    z-index: 99;
    position: absolute;
    
}


.nameBlock{
  background: rgb(255, 140, 46, 0.7);
  width: 22em;
  height: 10em;
  border-radius: 20px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  margin-left: 52px;
  position: absolute;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.1);
}

.nameBlock label{
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  left:37%;
  margin-top: 13px;
}

.nameBlock textarea{
  color: #ffffff;
  font-size: 18px;
  width: 100%;
  margin-top: 2px;
  background: transparent;
  border: none;
  pointer-events:none;
  text-align: center;
  resize:none;
}

textarea:focus{
  outline: none;
}